body{
    color:rgb(29, 18, 29);
    background:rgb(104, 31, 82);
    margin: 0px;
    font-family: "Afacad Flux", sans-serif;
    margin-bottom: 100px;
}

header{
    border: solid 3px black;
    padding: 20px;
    font-size: 32px;
    color: rgb(38, 18, 38);
}

.chamada {
    background: purple;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right:5%;
}

h1 {
font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}